<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body class="container">
<header th:replace="fragments :: header"></header>

<p th:unless="${list} and ${list.size()}">No events!</p>

<table class="table">
    <thead>
        <tr>
            <th>Event Name</th>
        </tr>
    </thead>
    <tr th:each="event : ${list}">
        <td><a th:text="${event.name}" th:href="@{/events/details/{id}(id=${event.id})}"></a></td>
        <!-- <td>
            <a th:href="@{/events/edit/{id}(id=${event.id})}">Edit</a>
        </td> -->
    </tr>
</table>
</body>
</html>