<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>Coding Events</title>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/styles.css}" rel="stylesheet">

</head>
<body>
<header th:fragment="header">
    <h1 th:text="${title}"></h1>
    <nav>
        <ul class="nav">
            <li class="nav-item"><a href="/events" class="nav-link">All Events</a></li>
            <li class="nav-itm"><a href="/events/create" class="nav-link">Create Event</a></li>
            <li class="nav-itm"><a href="/events/delete" class="nav-link">Delete Event</a></li>
            <li class="nav-itm"><a href="/eventCategories" class="nav-link">Event Categories</a></li>
            <li class="nav-itm"><a href="/eventCategories/create" class="nav-link">Create Event Category</a></li>
        </ul>
    </nav>
</header>



</body>
</html>